version: 2
jobs:
  build:
    docker:
      - image: nimasoroush/differencify
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-packages
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - .node_modules
      - run:
          name: test
          command: npm test
      - run:
          name: jest:integration
          command: npm run jest:integration

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
